body{
    z-index: 0;
    background-image: url('./pics/BrickWall.png');
    color: #fff; 
    position: relative;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display:grid;
    justify-items: center;
    align-items: center;
    font-family: 'DM Serif Text', serif;
    font-family: 'Open Sans', sans-serif;
}
span{
    width: 107px;
    height: 50px;
    border: 1px solid black;
    display: inline-block;
}
.c{
    background-image: url('./pics/Coin.png');
    background-size: cover;
}
.b{
    background-image: url('./pics/Brick.png');
    background-size: cover;
}
.a{
    background-color: white;
}
[class='1']{
    background-image: url('./pics/blue.png');
    background-size: cover;
}
[class='2']{
    background-image: url('./pics/Red.png');
    background-size: cover;
}
.end{
    position: absolute;
    z-index: 1;
    width: 1070px;
    height: 500px;
    top: 100px;
    color: black;
    background-color: azure;
    border: 1px solid black;
    align-content: center;
    font-size: 180px;
    visibility: visible;
}
